.listTable {
  margin-right: var(--spacing-medium);
  border-collapse: collapse;
  width: 100%;
  background-color: var(--color-black-extra-light);

  thead {
    background-color: var(--color-black-light);
    font-weight: var(--font-weight-medium);

    & th {
      padding: var(--spacing-mini) 0 var(--spacing-mini) var(--spacing-mini);
    }
  }

  th,
  td {
    border-right: 2px solid var(--color-black);
    text-align: left;
    padding-left: var(--spacing-mini);
  }
  th:last-child,
  td:last-child {
    border-right: none;
  }

  tr:nth-child(even) {
    background-color: var(--color-black-light);
  }

  tr {
    border-bottom: 1px solid var(--color-black-extra-light);

    &:hover {
      background-color: var(--color-background-dark);
    }
  }

  img {
    width: 90%;
    height: 100px;
    object-fit: cover;
    display: block;
  }
}

.listLocation {
  text-align: left;
}

.labelRow {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.nextPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);

  & button {
    margin: 0 var(--spacing-mini);
    padding: var(--spacing-mini) var(--spacing-small);
    background-color: var(--color-black-extra-light);
    color: var(--color-text-light);
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--color-black-light);
    }
  }
}
