.toggleButtons {
  margin-bottom: 1rem;

  button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background: #ddd;
    border-radius: 5px;
    font-weight: bold;

    &.active {
      background: #00b5cc;
      color: white;
    }
  }
}
